/sources/host/wiremux/target/
/sources/core/c/build/
/sources/vendor/espressif/generic/examples/*/build/
/sources/vendor/espressif/generic/examples/*/sdkconfig
/sources/vendor/espressif/generic/examples/*/sdkconfig.old
/dist/
.DS_Store
/sources/vendor/espressif/generic/examples/*/dependencies.lock
/sources/vendor/espressif/generic/examples/*/managed_components/
/sources/vendor/espressif/generic/examples/*/.clangd
.vscode/
.idea/
*.iml
/.wiremux/
/build/out/
/tools/wiremux-build-helper/target/
